/*************** html selectors *****************/
body {
  background-color: #e4f9f5;
  text-align: center;
  margin: 0;
}

h1 {
  margin: 0;
}

/*************** class selectors *****************/
.top-container {
  margin-top: 100px;

}

.top-cloud {
  position: relative;
  margin-left: 448px;
}

.bottom-cloud {
  position:absolute;
}
