/*************** html selectors *****************/

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

body {
  text-align: center;
  margin: 0;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  margin: 50px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}

h3 {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

hr {
  width: 5%;
  border-style: dotted none none none;
  border-width: 8px;
  border-color: #EAF6F6;
}

p {
  margin-bottom: 50px;
  line-height: 2;
}

/*************** class selectors *****************/
.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.middle-container {
  margin-top: 50px;
}

.bottom-container {
  margin: 50px 0 0 0;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #66BFBF;
}

.top-cloud {
  position:absolute;
  right: 300px;
  top: 40px;
  }

.bottom-cloud {
  position:absolute;
  left: 250px;
  bottom: 300px;

}

.pro {
  text-decoration: underline;
}

.colors-img {
  width: 35%;
}

.record-img {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.pcb-img {
  width: 30%;
  float: right;
  margin-left: 30px;
}

.profile {
  width: 30%;
  margin: 50px auto 50px auto;
  line-height: 2;
}

.skill-row {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.butn {
  background: #00f3f7;
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 18px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.p-footer {
  margin: 2em auto auto;
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-me {
  width: 30%;
  margin: 50px auto 50px;
}
